{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h3>Fiche de la personne :</h3>

        <div class="col-lg-12">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <td>Nom de la personne</td>
                    <td>Prénom de la personne</td>
                    <td>Entreprise de la personne</td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ fichePersonne.personneNom }}</td>
                    <td>{{ fichePersonne.personnePrenom }}</td>
                    <td>{{ fichePersonne.personneEntreprise }}</td>
                </tr>
                </tbody>
            </table>
        </div>

        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            Modifier la personne
        </button>

        <a href="../liste-personne" class="btn btn-primary">Retour à la liste</a>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modifier la personne</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {{ form_start(form) }}
                            {{ form_label(form.personne_nom)}}
                            {{ form_widget(form.personne_nom, {'value' : fichePersonne.personneNom})}}

                            {{ form_label(form.personne_prenom)}}
                            {{ form_widget(form.personne_prenom, {'value' : fichePersonne.personnePrenom})}}

                            {{ form_label(form.personneEntreprise)}}
                            {{ form_widget(form.personneEntreprise, {'value' : fichePersonne.personneEntreprise})}}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        {{ form_end(form) }}

                        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}