{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h3>Fiche Entreprise :</h3>

        <div class="col-lg-12">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <td>Nom de l'entreprise</td>
                    <td>Adresse de l'entreprise</td>
                    <td>Code postal de l'entreprise</td>
                    <td>Ville de l'entreprise</td>
                    <td>Pays de l'entreprise</td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ ficheEntreprise.entrepriseNom }}</td>
                    <td>{{ ficheEntreprise.entrepriseAdresse }}</td>
                    <td>{{ ficheEntreprise.entrepriseCp }}</td>
                    <td>{{ ficheEntreprise.entrepriseVille }}</td>
                    <td>{{ ficheEntreprise.entreprisePays.paysNom }}</td>
                </tr>
                </tbody>
            </table>
        </div>


        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            Modifier l'entreprise
        </button>

        <a href="../liste-entreprise" class="btn btn-primary">Retour à la liste</a>





        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modifier l'entreprise</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {{ form_start(form) }}
                            {{ form_label(form.entreprise_nom)}}
                            {{ form_widget(form.entreprise_nom, {'value' : ficheEntreprise.entrepriseNom})}}

                            {{ form_label(form.entreprise_adresse)}}
                            {{ form_widget(form.entreprise_adresse, {'value' : ficheEntreprise.entrepriseAdresse})}}

                            {{ form_label(form.entreprise_cp)}}
                            {{ form_widget(form.entreprise_cp, {'value' : ficheEntreprise.entrepriseCP})}}

                            {{ form_label(form.entreprise_ville)}}
                            {{ form_widget(form.entreprise_ville, {'value' : ficheEntreprise.entrepriseVille})}}

                            {{ form_label(form.entreprise_pays)}}
                            {{ form_widget(form.entreprise_pays, {'value' : ficheEntreprise.entreprisePays})}}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        {{ form_end(form) }}
                        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}