{% extends 'base.html.twig' %}

{% block body %}
    <h3>Ma first action :</h3>

    Page: {{page}}

    {{ form_start(form, {'method': 'get', 'attr': {'id': 'premierFormulaire'}}) }}

    <div>
        {{ form_errors(form) }}
    </div>

    <div>
        {{ form_label(form.input_1) }}
        {{ form_widget(form.input_1) }}
        {{ form_errors(form.input_1
        ) }}
    </div>

    <div>
        {{ form_widget(form.submit) }}
    </div>

    {{ form_end(form) }}

{% endblock %}