{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">

        <h3>Ajout d'entreprise :
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                Ajouter
            </button>
        </h3>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ajouter une entreprise</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {{ form_start(form, {'method': 'post', 'attr': {'id': 'AddEntrepriseForm'}}) }}

                        {{ form_label(form.entreprise_nom) }}
                        {{ form_widget(form.entreprise_nom) }}
                        {{ form_errors(form.entreprise_nom) }}

                        {{ form_label(form.entreprise_adresse) }}
                        {{ form_widget(form.entreprise_adresse) }}
                        {{ form_errors(form.entreprise_adresse) }}

                        {{ form_label(form.entreprise_cp) }}
                        {{ form_widget(form.entreprise_cp) }}
                        {{ form_errors(form.entreprise_cp) }}

                        {{ form_label(form.entreprise_ville) }}
                        {{ form_widget(form.entreprise_ville) }}
                        {{ form_errors(form.entreprise_ville) }}

                        {{ form_label(form.entreprise_pays)}}
                        {{ form_widget(form.entreprise_pays)}}

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            {{ form_end(form) }}
                        </div>
                        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-12">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <td>Nom de l'entreprise</td>
                        <td>Adresse</td>
                        <td>Code postal</td>
                        <td>Ville</td>
                        <td>Pays</td>
                        <td>Supprimer</td>
                    </tr>
                </thead>
                <tbody>
                {% for entreprise in listeEntreprises %}
                    <tr>
                        <td><a href="{{ path('fiche-entreprise', {id: entreprise.id})}}">{{ entreprise.entrepriseNom }}</a></td>
                        <td>{{ entreprise.entrepriseAdresse }}</td>
                        <td>{{ entreprise.entrepriseCp }}</td>
                        <td>{{ entreprise.entrepriseVille }}</td>
                        <td>
                            {% if entreprise.entreprisePays %}
                                {{ entreprise.entreprisePays.paysNom }}
                            {% endif %}
                        </td>
                        <td><a href="{{ path('delete-entreprise', {id: entreprise.id})}}">Supprimer</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}