{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h3>Ajout de personne :
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                Ajouter
            </button>
        </h3>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ajouter une personne</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">


                        {{ form_start(form, {'method': 'post', 'attr': {'id': 'AddPersonnesForm'}}) }}

                        {{ form_label(form.personne_nom) }}
                        {{ form_widget(form.personne_nom) }}
                        {{ form_errors(form.personne_nom) }}

                        {{ form_label(form.personne_prenom) }}
                        {{ form_widget(form.personne_prenom) }}
                        {{ form_errors(form.personne_prenom) }}

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            {{ form_widget(form.submit) }}
                            {{ form_end(form) }}
                        </div>
                        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                    </div>
                </div>
            </div>
        </div>

       <div class="col-lg-12">

           <table class="table table-striped table-hover">
               <thead>
               <tr>
                   <td>Nom de la personne</td>
                   <td>Prénom de la personne</td>
                   <td>Supprimer la personne</td>
               </tr>
               </thead>
               <tbody>
               {% for personne in listePersonne %}
                   <tr>
                       <td><a href="{{ path('fiche-personne', {id: personne.id}) }}">{{ personne.personneNom }}</a></td>
                       <td><a href="{{ path('fiche-personne', {id: personne.id}) }}">{{ personne.personnePrenom }}</a></td>
                       <td><a href="{{ path('delete-personne', {id: personne.id}) }}">Supprimer</a></td>

                   </tr>
               {% endfor %}
               </tbody>
           </table>
        </div>
    </div>
{% endblock %}